* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  text-align: center;
}

h1 {
  margin-top: 1rem;
}

.stopwatch {
  margin-top: 5rem;
}

.time-p {
  font-size: 3rem;
}

button {
  margin: 3rem;
  padding: 0.35rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
}
